body {
  background-color: $white-color;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset,
input,
textarea {
  border: none;
}

* {
  box-sizing: border-box;
}

fieldset {
  padding-left: 1px;
  padding-right: 1px;
}

textarea {
  overflow: auto;
  resize: none;
}

